@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    display: grid;
    flex-wrap: wrap;
    place-items: center;
    box-shadow: 0rem 1.2re 3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.container .heading{
    font-size: 2rem;
    box-shadow: 0rem 1.2re 3rem 0.5rem rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #111;
    text-transform: uppercase;

}

.container .card-container{
    height: 50rem;
    width: 80rem;
    background-color: #ffff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-container input{
    height: 3rem;
    width: 55rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-color: #f6f6f6;
    border-top: gray;
    outline: none;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card-container #searchProfile{
    width: 10rem;
    height: 3rem;
    margin-left: 2rem;
    border: none;
    background-color: white;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.container #Important-task{
    width: 20rem;
    height: 3rem;
    margin-left: 2rem;
    border: none;
    background-color: white;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 60rem;
    font-weight: bold;
}

.card-container  #searchProfile:hover{
    background-color: #111;
    color: white;
}

.container  #Important-task:hover{
    background-color: #111;
    color: white;
}

.card-container .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
